.header__burger-menu {
  background-image: url(../../../images/menu-burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 27px;
  background-color: inherit;
  border: none;
  align-self: center;
  cursor: pointer;
}

.header__burger-menu:focus{
    outline: none;
}

.header__burger-menu:hover{
    opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .header__burger-menu {
    display: none;
  }
}
